body {
    background-color: black;
    color: white;
    font-family: rig-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    -webkit-transition: 1s;
    transition: 1s;
    overflow-x: hidden;
}

/* mobile */

@media only screen and (max-width: 600px) {
    div.app-wrapper {
        width: 80vw;
        margin: auto;
    }

    div.header {
        justify-content: space-evenly;
    }

    div.individual-experience-wrapper {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    div.video-player,
    img.article-image {
        max-width: 100%;
    }
}

/* divs and stuff */

.app-wrapper {
    width: 70vw;
    max-width: 800px;
    margin: auto;
}

div.headingWrapper { 
    background-color: #111;
    padding: 10px 25px;
    height: 75px;
    border-radius: 25px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.individual-experience-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.experience-image-wrapper {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.experience-image {
    max-height: 150px;
    max-width: 250px;
    width: auto;
    height: auto;
    padding-left: 10px;
}

.individual-video-wrapper,
.article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video-player,
.article-image {
    padding: 20px 0px;
    max-width: 400px;
    max-height: 225px;
    height: auto;
    width: auto;
}

/* links */

a {
    color: #bbb;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

a:hover {
    color: #0ff;
    text-decoration: underline;
}

/* headings */

h3 > a {
    color: rgb(62, 92, 230);
}

h3 > a:hover {
    color: #0ff;
}

h1, h2, h3 {
    font-family: new-spirit, Georgia, 'Times New Roman', Times, serif;
}

h2 {text-align: center;}
h3 {font-weight: 500; font-style: italic;}
h4 {font-weight: 900;}

h2.fancyHeading {
    font-size: 125px;
    transition: all 0.5s ease-in-out;
}

h2.notFancyHeading {
    position: absolute;
}