body {
    background-color: black;
    color: white;
}

.app-wrapper {
    width: 70vw;
    max-width: 800px;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .app-wrapper {
        max-width: 90vw;
        margin: auto;
    }
  }